<!DOCTYPE html>
<meta charset="utf-8"/>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="www.ultraq.net.nz/thymeleaf/layout/">
	  <head>
	  <title> Contas a Pagar</title>
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
	  <body>
	   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Lista Contas</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
         <li><a href="/listaanos">Home</a></li>    
         <li><a href="/cadastrarano" >Cadastrar Ano</a></li>
        <li><a href="/cadastrarcontapagar" >Nova Conta</a></li>
        <li><a href="/listacontaspagar" >Contas</a></li>
        <li><a href="/listameses" >Contas por Mês</a></li>
        <li><a href="/cadastrarmes" >Novo Mês</a></li>
      </ul>
    </div>
  </nav>
	  <h5> Página Inicial</h5>
	  <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	  </body>	
</html>
