<!DOCTYPE html>
<meta charset="utf-8"/>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="www.ultraq.net.nz/thymeleaf/layout/">
	  <head>
	  <title> Contas a Pagar</title>
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
	  <body>
	   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Lista Contas</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
         <li><a href="/listaanos">Home</a></li>
        <li><a href="/cadastrarano" >Cadastrar Ano</a></li>
      </ul>
    </div>
  </nav>
    


<form method="post">
 
<div class="container"><h5> Meses do ano: <a><span th:text = "${ano.num_ano}"></span></a></h5>
    <table>
	  <thead>
	  <tr>
	  <th>Descrição</th>
	  </tr>
	  </thead>
	  <tbody>	  
	  <tr th:each="mes  : ${meses}" >
	    <td> <a th:href="${(#mvc.url('MC#detalheMes').arg(0,mes.descricao)).build()}"> <span th:text = "${mes.descricao}"></span></a></td>
	   </tr>
	   </table>
    </div>
</form> 
      
   <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>

